* {
 box-sizing: border-box;
}

#container{
  width: 768px;
  margin: 0 auto;
}

body {
  background-color: #28455B;
  font-family: 'Fredoka One', cursive;
  width: 768px;
  margin: 0 auto;
}

header{
  font-family: 'Fredoka One', cursive;
  font-size: 55px;
  color: white;
  height: 90px;
  padding-top: 20px;
}

p{
  padding-top: 0;
  margin-top: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.image-container{
  display: flex;
}

.image-container2{
  display: flex;
}

.bottom-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  margin-top: 20px;
}

.item1{
  width: 100px;
  height: 100px;
  border-radius: 6px;
  border: #39E8DE 2px dashed;
  margin-right: 20px;
}

.item2{
  width: 100px;
  height: 100px;
  border-radius: 6px;
  border: #39E8DE 2px dashed;
  margin-right: 20px;
}

.item3{
  width: 100px;
  height: 100px;
  border-radius: 6px;
  border: #39E8DE 2px dashed;
  margin-right: 20px;
}

.image-bank{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 90%;
}


a:link, a:visited {
  background-color: #39E8DE;
  color: #28455B;
  font-size: 18px;
  padding: 14px 25px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-self: flex-start;
}

a:hover, a:active {
  background-color: #54F7ED;
}